#!/usr/bin/env ruby
require 'time'

preprocess do
  # prepare blog posts
  items.each do |item|
    if item.identifier =~ /^\/blog\//
      item[:kind] = 'article'
      item[:created_at] = "---" if item[:created_at].nil?
    end
  end

  # create tag pages
  articles_by_tag.keys.each do |tag|
    title = "Posts tagged with '#{tag}'"
    content = "<h3>#{title}:</h3>\n\n"
    content << %{<% articles_for_tag('#{tag}').each do |post| %><%= render_post post, :comments => false %><% end %>}
    items << Nanoc3::Item.new(content, { :title => title, :layout => "base" }, "/blog/tag/#{tag}/")
  end

  # create archive pages
  articles_by_month.each do |date, _|
    month = format("%02d", date.month)
    title = "Archive for #{date.year}/#{month}"
    content = "<h3>#{title}:</h3>\n\n"
    content << %{<% articles_for_month(Date.new(#{date.year}, #{date.month})).each do |post| %><%= render_post post, :comments => false %><% end %>}
    items << Nanoc3::Item.new(content, { :title => title, :layout => "base" }, "/blog/#{date.year}/#{month}/")
  end
end

# COMPILATION

compile %r(^/blog/\d{4}-\d{2}-\d{2}-.+/) do
  filter :erb
  if item[:extension] == "markdown" || item[:extension] == "md"
    filter :rdiscount
  elsif item[:extension] == "txt" || item[:extension] == "textile"
    filter :redcloth
  end
  layout 'post'
end

compile %r(^/(about-me|contact|projects)) do
  filter :erb
  filter :redcloth
  layout 'default'
end

compile '/css/master/' do
  filter :less
end

compile %r{^/(css|images|javascripts|robots|favicon)/} do
end

compile '/atom/' do
  filter :erb
end

compile '*' do
  filter :erb
  layout item[:layout] || 'default'
end

# ROUTING

route %r(^/blog/\d{4}-\d{2}-\d{2}-.+/) do
  item.identifier[0..-2].gsub(/(\d{4})-(\d{2})-(\d{2})-(.+)/, '\1/\2/\3/\4') + '.html'
end

route %r{^/(css|images|javascripts)/} do
  item.identifier[0..-2] + '.' + item[:extension].gsub('less', 'css')
end

route '/atom/' do
  '/atom.xml'
end

route '/robots/' do
  '/robots.txt'
end

route '*' do
  item.identifier + 'index.html'
end

# LAYOUTING

layout '*', :erb
