#!/usr/bin/env ruby
require 'time'

preprocess do
  
  # prepare blog posts
  items.each do |item|
    if item.identifier =~ /^\/blog\//
      item[:kind] = 'article' 
      item[:created_at] = item.identifier[/\d{4}-\d{2}-\d{2}/] if item[:created_at].nil?
      # item[:created_at] = Time.parse(item[:created_at])
    end
  end
  
  # create tag pages
  tags_and_items(items).keys.each do |tag|
    content = "<h2>Posts tagged with '#{tag}':</h2>\n\n"
    content << %{<% articles_tagged_with('#{tag}').each do |post| %>
    <%= render_post post, :comments => false %>
  <% end %>}
    items << Nanoc3::Item.new(content, {}, "/blog/tag/#{tag}/")
  end
  
  # create archive pages
  months_and_items(items).each do |date, posts|
    content = "<h2>Archive for #{date.year}/#{date.month}:</h2>\n\n"
    items << Nanoc3::Item.new(content, {}, "/blog/#{date.year}/#{date.month}/")
  end
end

# COMPILATION

compile %r(^/blog/\d{4}/\d{2}/$) do
  filter :erb
  layout 'default'
end

compile %r(^/blog/\d{4}-\d{2}-\d{2}-/.+/) do
  filter :erb
  filter :redcloth
  layout 'post'
end

compile %r(^/(about-me|contact|projects)) do
  filter :erb
  filter :redcloth
  layout 'default'
end

compile '*' do
  filter :erb
  layout 'default'
end

# ROUTING

route %r(^/blog/\d{4}-\d{2}-\d{2}-.+/) do
  item.identifier[0..-2].gsub(/(\d{4})-(\d{2})-(\d{2})-(.+)/, '\1/\2/\3/\4') + '.html'
end

route '*' do
  item.identifier + 'index.html'
end

# LAYOUTING

layout '*', :erb
