<h2><%= @header %></h2>

<ul class="post-list">
  <% @posts.each do |post| %>
    <li>
      <%= link_to(post.title, post.route) %>
      [<%= post.meta[:date].to_date %>]
    </li>
  <% end %>
</ul>

<% if request.path == "/" %>
  <p class="rss-feed">
    <%= link_to 'Subscribe via RSS', 'http://feeds2.feedburner.com/SickillNet', :class => "feed" %>
  </p>
<% end %>
