<title>{% if page.title %}{{ page.title }} - {% endif %}Odes of the Occult</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="{% if page.id %}{{ page.title }}{% else %}Personal blog of Marcin Kulik, curious software developer and open-source addict{% endif %}" />
<meta name="keywords" content="marcin kulik, mkulik, sickill, blog, programming, ruby, {{ page.tags | join:', '}}" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds.feedburner.com/SickillNet" />
<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/monokai.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/jquery.lightbox-0.5.css" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico">
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://sickill.myopenid.com/" />
<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=sickill.myopenid.com" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/sickill.js"></script>
<script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.pack.js"></script>
