<div class="article">
  {% include post_header.html %}
  <br class="clear" />
  <div class="article-content">
    {{ post.content }}
  </div>
  {% if comments %}
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/sickill/embed.js"></script><noscript><a href="http://sickill.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  {% else %}
    <a href="{{ post.url }}#disqus_thread">View Comments</a>
  {% endif %}
</div>
