
/* colors from http://kuler.adobe.com/#themeID/607478 */

html, body {
  background-color: #111;
  color: #eee;
}

em {
  font-style: italic;
  background-color: #222;
  padding: 1px 3px;
}

h1 {
  font-size: 18pt;
}

h1, h2, h3, #sidebar, #page, #footer {
  font-family: 'Trebuchet MS',Calibri,Verdana,"Bitstream Vera Sans",sans-serif;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

.rounded {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}

.rounded_big {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

.clearfix {
  clear: both;
}

a {
  color: #CBD962;
}

img.photo {
  float: left;
  margin-right: 15px;
}

.images img {
  margin: 0 15px 10px 0;
  padding: 5px;
  border: 1px solid #333;
  .rounded;
}

#container {
  margin: 50px 50px;
  width: 1055px;
}

#header {
  margin-bottom: 50px;
  .logo {
    a {
      color: white;
      text-decoration: none;
      font-size: 37pt;
      font-weight: bold;
      font-family: Georgia;
      background-color: black;
      padding: 10px;
      .rounded_big;
    }
  }
}

#page {
  line-height: 1.3em;
  /*font-family: verdana,arial,sans-serif;*/
  font-size: 10pt;

  ul { line-height: 1.2em }
  h2 {
    color: #BF2A45;
    font-size: 14pt;
    margin-bottom: 20px;
    a { color: #BF2A45; }
  }
  h3 {
    color: #D98841;
    font-size: 13pt;
    margin-bottom: 15px;
  }
  .article {
    margin-bottom: 50px;
    h2 {
      margin-bottom: 5px;
    }
    .article-info {
      font-size: 9pt;
      font-style: italic;
      margin-bottom: 15px;
    }
  }
  
  .project {
    margin-bottom: 40px;
    img {
      padding: 5px;
      border: 1px solid #333;
      .rounded;
    }
  }

}

#content {
  float: left;
  width: 800px;
  margin-right: 50px;
}

#sidebar {
  float: left;
  width: 200px;

  ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    line-height: 1.5em;
    padding-left: 0;
    margin: 5px 0 20px;
    a {
      color: #60A679;
      text-decoration: none;
    }
  }

  li {
    background: transparent url(/images/f-li.gif) no-repeat scroll 0 0;
    /*line-height:1.5em;*/
    padding-left: 12px;
  }

  h2 {
    font-size: 10pt;
    font-weight: bold;
    color: #D98841;
    margin-bottom: 5px;
  }
}

#footer {
  .clearfix;
  font-size: 10pt;
}

pre, code {
  font-family:'Bitstream Vera Sans Mono','Courier',monospace;
  line-height:1.4em;
  font-size: 9pt;
}

pre code {
  background-color: black;
  display:block;
  padding:7px;
  .rounded;
}

pre {
  margin-bottom: 15px;
}

#disqus_thread {
  margin-top: 70px;
}
