body, p, div {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  line-height: 1.6em;
  font-size: 17px;
}

body {
  margin: 10px 0 0 0;
  position: relative;
}

h1 {
  font-size: 33px;
  line-height: 40px;
  margin: 17px 0;
  padding-left: 10px;
  text-align: center;
  font-weight: 300;
}

h2 {
  font-size: 21px;
  margin: 25px 0 15px;
}

h3 {
  font-size: 18px;
  margin: 20px 0 12px;
  color: #D95525;
}

ul, ol {
  margin: 15px 0 30px 30px;
}

ul li {
  list-style-type: square;
}

ol li {
  list-style-type: decimal;
}

p, pre, blockquote {
  margin-bottom: 17px;
}

code {
  background-color: #eee;
  padding: 0px 5px;
}

pre, code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

pre {
  padding: 10px;
  color: #F8F8F2;
  background: #272822;
  overflow: auto;
  line-height: 1.5em;
}

pre code {
  background-color: inherit;
  padding: 0;
}

img.avatar {
  padding: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  border: 1px solid #DDD;
}

table.personal {
  border-spacing: 0;
}

table.personal td {
  padding-right: 20px;
}

table.personal td.first {
  font-weight: bold;
  text-align: right;
}

a, a:visited {
  color: #D95525;
}

a:hover {
  text-decoration: none;
}

/* full-width, vertical section */
.section {
  margin: 30px 0;
}

/* main centered wrapper */
.container {
  max-width: 880px;
  margin: 0 auto;
}

.row {
  margin: 0 40px;
}

.post .header {
  text-align: center;
  margin-bottom: 40px;
}

.post .header .date {
  text-align: center;
  font-size: 15px;
  color: #555;
  font-style: italic;
  font-variant: small-caps;
  margin-top: -10px;
}

.post .header img {
  border: 1px solid #CCC;
  padding: 5px;
  border-radius: 5px;
  max-width: 100%;
}

.post .body {
  margin-bottom: 50px;
}

.post-list li {
  line-height: 2em;
}

.post-list li a {
  font-size: 20px;
  text-decoration: none;
}

.post-list li a:hover {
  text-decoration: underline;
}


#header {
  text-align: center;
  /* margin-bottom: 60px; */
  position: relative;
}

#header .logo {
  /* display: none; */
  font-size: 17px;
  color: #555;
}

#header .home {
  position: absolute;
  left: 0;
}

ul.nav, .nav li {
  display:inline; float:none; 
}

ul.nav {
  margin: 0 0;
}

.nav li {
  margin-right: 20px;
  list-style-type: none;
}

.tags {
  /* border-top: 1px solid #bbb; */
  margin: 30px 0px;
  padding-top: 30px;
  font-style: italic;
  text-align: right;
  border-top: 1px solid #CCC;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#lower {
  background-color: #D95525;/*#666;*/
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#lower .body {
}

#lower a {
  color: white;
  font-weight: bold;
}

#lower .comments {
  padding-top: 5px;
  padding-bottom: 20px;
}

#footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #CCC;
  padding-top: 20px;
}

.post #footer {
  border-top: 0;
  padding-top: 0;
}

#footer .year {
}

#disqus_thread {
  padding-top: 30px;
}

#disqus_thread #dsq-content .dsq-options {
  /* display: none; */
}

#disqus_thread #dsq-content #dsq-global-toolbar {
  /* display: none; */
}

.images img {
  margin-right: 20px;
}

.about-me-photo {
  float: right;
  margin: 0 0 20px 20px;
  border: 1px solid #ccc;
  padding: 5px;
}

.rss-feed {
  text-align: center;
}

a.feed {
  background-image: url(/images/icons/rss.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 28px;

}

#content blockquote {
  border-left: solid 4px #EEE;
  font-style: italic;
  width: 500px;
  padding-right: 18px;
  padding-left: 35px;
  padding-bottom: 17px;
  quotes: inherit;
}

#content blockquote::before {
  content: open-quote;
  height: 0;
  color: #eee;
  display: block;
  font: 64px Georgia,"Times New Roman",Times,serif;
  margin-left: -32px;
}

#content blockquote::after {
  content: close-quote;
  height: 20px;
  font: 64px Georgia,"Times New Roman",Times,serif;
  color: #eee;
  display: block;
  margin-top: -44px;
  margin-left: 490px;
}


#content .body p img {
  max-width: 100%;
}

blockquote p {
  margin: 17px 0;
}

#oh-404 {
  font-size: 300px;
  line-height: 300px;
}
