---
---
<div class="project">
<% url = @github_id ? "http://github.com/sickill/#{@github_id}" : "/projects/#{@id}"%>
!(photo)/images/projects/<%= @id || @github_id %>.png!:<%= url %> <%= link_to @name, url %><br/><br/><%= @desc %>

<div class="clear"></div>
</div>
