<ul>
<% tai = articles_by_tag %>
<% tai.keys.sort_by { |t| -tai[t].size }[0..14].sort.each do |tag| %>
  <li><%= link_to tag, "/blog/tag/#{tag}" %> <span class="tag_popularity">(<%= tai[tag].size %>)</span></li>
<% end %>
</ul>
