<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% include head.html %}
</head>
<body {% if page.id %}class="post"{% endif %}>
  <div id="container" class="centered">

    <div id="header">
      {% if page.url != '/index.html' %}
        <a href="/" class="home" title="Go home!">&#x21E7;</a>
      {% endif %}
      <div class="logo"> <a href="/me" title="Who's Marcin?">MARCIN KULIK</a>'S: </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

  </div>

  {% if page.id %}
  <div id="lower">
    <div class="comments centered">
      {% include disqus.html %}
    </div>
  </div>
  {% endif %}

  <div id="footer" class="centered">
    Browse through archives: {% include post_years.html %}
  </div>

  {% include analytics.html %}
</body>
</html>
