<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% include head.html %}
</head>
<body {% if page.id %}class="post"{% endif %}>
  <div class="section">
    <div class="container">
      <div class="row">
        <div id="header">
          {% if page.url != '/index.html' %}
          <a href="/" class="home" title="Go home!">&#x21E7;</a>
          {% endif %}
          <div class="logo"> <a href="/me" title="Who's Marcin?">MARCIN KULIK</a>'S: </div>
        </div>

        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  {% if page.id %}
  <div class="section" id="lower">
    <div class="container comments">
      <div class="row">
        {% include disqus.html %}
      </div>
    </div>
  </div>
  {% endif %}

  <div id="footer" class="section">
    <div class="container">
      <div class="row">
        Browse through archives: {% include post_years.html %}
      </div>
    </div>
  </div>

  {% include analytics.html %}
</body>
</html>
